/*--------> common*/

/* <-------- common *>/


/*--------->header*/
header {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}

header .navbar-nav {
  padding-right: 50px;
}

header .navbar-brand img {
  width: 185px;
  height: 25px;
  padding-left: 45px;
}

header li {
  list-style: none;
  font-size: 14px;
  padding: 0 10px;
  color: #fff;
}

header .nav-link {
  color: #fff;
}

header .dropdown-menu {
  background-color: #000;
  padding: 0;
  width: 220px;
  margin-top: 3px;
}

header .dropdown-item {
  color: #fff;
  font-size: small;
  padding: 15px 40px 15px 20px;
}

header .dropdown-item:hover {
  background-color: #734e30;
  color: #fff;
}

header .navbar-nav > li > a {
  padding: 35px 11px;
}

header .nav-link {
  color: #fff;
}

header .nav-link:hover {
  color: #808080;
}

header .dropdown-menu {
  position: absolute;
  top: 85px;
}

header .navbar {
  padding: 0;
}

@media screen and (max-width: 1199px) {
  header {
    font-size: 14px;
    background-color: #000;
    height: 60px;
    padding: 0;
  }

  header .navbar {
    padding: 0;
    height: 60px;
  }

  header .navbar-nav {
    background-color: #000;
  }

  header .navbar-brand img {
    width: 130px;
    height: 18px;
    padding-left: 20px;
    margin: 0;
  }

  header .menu-trigger {
    width: 15px;
    height: 60px;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    right: 25px;
    top: 0;
    padding: 0;
  }

  header .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }

  header .menu-trigger span:nth-of-type(1) {
    top: 25px;
    right: 15px;
    width: 15px;
    height: 3px;
  }

  header .menu-trigger span:nth-of-type(2) {
    top: 30px;
    width: 15px;
    height: 3px;
  }

  header .menu-trigger span:nth-of-type(3) {
    top: 35px;
    width: 15px;
    height: 3px;
  }

  header .dropdown-item {
    outline: none;
  }

  header .hamburger-down {
    position: absolute;
    width: 100%;
    top: 59px;
  }
}
/* <--------header */

/* --------> main */

main h2,
p {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

main .top-overview p,
.cafe-overview p {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 13px;
  line-height: 35px;
}

main #top .top-img {
  background-image: url(./image/top.jpg);
  background-size: cover;
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #top .top-img p {
  color: #373737;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 35px;
  font-weight: bolder;
  white-space: nowrap;
}

main #top .top-overview {
  color: #fff;
  background-color: #000;
  width: 100%;
  padding: 60px 0 50px;
}

main #top .top-overview h2 {
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  font-size: 35px;
  font-weight: bolder;
}

main #top .top-overview p {
  letter-spacing: 0.15em;
}

main #howtouse .plan {
  background-color: #fff5ee;
  margin-top: 100px;
}

main #howtouse .plan .cafe-overview {
  padding: 56px 30px;
}

main #howtouse .plan .cafe-overview h2 {
  color: #734e30;
  font-size: 36px;
  margin-bottom: 12px;
}

main #howtouse .plan .cafe-overview p {
  letter-spacing: 0.1em;
  margin: 0;
}

@media screen and (max-width: 1140px) {
  main #top .top-overview p {
    width: 100%;
    padding: 0 27px;
  }

  main #top .top-overview h2 {
    padding: 0 30px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  header {
    position: static;
  }

  main #top .top-img {
    height: 400px;
  }

  main #top .top-img p {
    color: #000;
    font-size: 24px;
  }

  main #top .top-overview {
    padding: 30px 0;
  }

  main #top .top-overview h2 {
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 30px;
  }

  main #top .top-overview p {
    font-size: 12px;
    padding: 0 27px;
    line-height: 30px;
  }

  main #howtouse .plan .cafe-overview {
    padding: 30px 20px;
  }

  main #howtouse .plan .cafe-overview h2 {
    font-size: 20px;
  }

  main #howtouse .plan .cafe-overview p {
    font-size: 13px;
    line-height: 30px;
  }
}

@media screen and (max-width: 576px) {
  main #howtouse {
    margin: 20px;
  }

  main #howtouse .plan .cafe-img img {
    width: 50%;
  }
}

/* <-------- main */

/* ------> footer */

/* <--------footer */
